<div class="container-fluid bg-white pt-1 pb-1 borde p-2">
    <div class="row">

      <div class="col-auto">
        <img src="../assets/FIFA_23_logo.png" routerLink="home/" alt="fifa" height="40">
      </div>

      <div class="col text-end">
        <div class="dropdown">
          <button class="fcb btn dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">{{"Idiomas"|translate}}</button>
          <ul class="dropdown-menu fcb" aria-labelledby="dropdownMenuButton2">
            <li><a class="dropdown-item text-center" (click)="switchSpain('es')">Castellano</a></li>
            <li><a class="dropdown-item text-center" (click)="switchCatala('cat')">Català</a></li>
            <li><a class="dropdown-item text-center" (click)="switchEnglish('eng')">English</a></li>
            <li><a class="dropdown-item text-center" (click)="switchFrench('fra')">French</a></li>
            <li><a class="dropdown-item text-center" (click)="switchJapanese('jap')">にほんご</a></li>
          </ul>
        </div>
      </div>
   </div>
</div>

