<div class="col-auto m-2">
    <img src="../assets/FIFA_23_logo.png" alt="fifa" width="*" height="40">
</div>



<div class="navigation color text-center" >

    <button class="btn btn-primary btn-sm" routerLink="historial">historial</button>
    <button class="btn btn-primary btn-sm" routerLink="players">players</button>
    <button class="btn btn-primary btn-sm" routerLink="video">video</button>
    <!--<button (click)="navigation.goBack()">Back to {{navigation.getPreviousUrl}}</button>-->

  

</div>

<!-- <h3>History</h3> -->

<span *ngfor="let url of navigation.getHistory(); let i = index">
    {{i}}={{url}}
</span>
