<div class="container-fluid bg-white pt-1 pb-1 borde p-2">
    <div class="row">

      <div class="col-auto">
        <img src="../assets/FIFA_23_logo.png" routerLink="" alt="fifa" height="40" style="cursor: pointer;">
      </div>

      <div class="col text-end">
        <div class="dropdown">
          <button class="fcb btn dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">{{"Idiomas"|translate}}</button>
          <ul class="dropdown-menu fcb" aria-labelledby="dropdownMenuButton2">
            <li><a class="dropdown-item text-center" (click)="switchLanguage('es')" ngbDropdownItem>Castellano</a></li>
            <li><a class="dropdown-item text-center" (click)="switchLanguage('cat')" ngbDropdownItem>Català</a></li>
            <li><a class="dropdown-item text-center" (click)="switchLanguage('eng')" ngbDropdownItem>English</a></li>
            <li><a class="dropdown-item text-center" (click)="switchLanguage('fra')" ngbDropdownItem>French</a></li>
            <li><a class="dropdown-item text-center" (click)="switchLanguage('jap')" ngbDropdownItem>にほんご</a></li>
          </ul>
        </div>
      </div>
   </div>
</div>

