.bg{
    //background: linear-gradient(90deg,#494949,#cfcfcf);
    background: black;
    color: rgb(255, 255, 255);
}

.texts:hover {
    color: #ffffff;
}

.texts {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.footer {
    position: absolute;
    bottom: 0;
}