<div class="title">
    <h3 class="text-center">Historial <h2>{{ onePlayer.Nombre }} {{ onePlayer.Apellido }}</h2></h3>
</div>

<div class="grid-container justify-content-center align-items-center">

    <div class="grid-item" style="display: flex; justify-content: center; align-items: center;">
        <img src="..\assets\images\{{ onePlayer.photo }}" width="350px" height="350px">
    </div>

    <div class="grid-item datos equipo d-flex">
        <div class="container p-5 text-center justify-content-center">
                <div class="row-container pt-3" >
                    <div class="text-center d-flex align-items-center" style="justify-content: center;">
                        <img class="escudo" src="..\assets\images\{{onePlayer.escudo1}}" style="position: relative; top: -10px;">
                        <p style="margin-left: 10px;">{{ onePlayer.Club_actual }}</p>
                    </div>
                </div>

                <div class="row-container pt-3 text-center">
                    <div class="text-center d-flex align-items-center" style="justify-content: center;">
                        <img class="escudo" src="..\assets\images\{{onePlayer.escudo2}}" style="position: relative; top: -10px;">
                        <p style="margin-left: 10px;">{{ onePlayer.Club_anterior_1 }}</p>
                    </div>
                </div>

                <div class="row-container pt-3 text-center">
                    <div class="text-center d-flex align-items-center" style="justify-content: center;">
                        <img class="escudo" src="..\assets\images\{{onePlayer.escudo3}}" style="position: relative; top: -10px;">
                        <p style="margin-left: 10px;">{{ onePlayer.Club_anterior_2 }}</p>
                    </div>
                </div>

                <div class="row-container pt-3 text-center">
                    <div class="text-center d-flex align-items-center" style="justify-content: center;">
                        <img class="escudo" src="..\assets\images\{{onePlayer.escudo4}}" style="position: relative; top: -10px;">
                        <p style="margin-left: 10px;">{{ onePlayer.Club_anterior_3 }}</p>
                    </div>
                </div>

                <div class="row-container pt-3 text-center">
                    <div class="text-center d-flex align-items-center" style="justify-content: center;">
                        <img class="escudo" src="..\assets\images\{{onePlayer.escudo5}}" style="position: relative; top: -10px;">
                        <p style="margin-left: 10px;">{{ onePlayer.Club_anterior_4 }}</p>
                    </div>
                </div>
            </div>
    </div>
</div>





<div class="text-center mt-1 mb-2">
    <button class="btn btn-secondary btn-sm text-center m-2"  style="justify-content: center;" (click)="goBack()">Retroceder</button>
</div>


<span *ngfor="let url of navigation.getHistory(); let i = index">
    {{i}}={{url}}
</span>