<div class="title">
    <h3 class="text-center">Historial Jugador</h3>
</div>

<div class="grid-container point">
    <div class="grid-item photo" style="justify-content: center;">
        <img src="..\assets\images\ROBERT_LEWANDOWSKI.webp">
    </div>
    <div class="grid-item datos equipo">

        <div class="container p-5">
            <div style="border: 1px solid black; border-radius: 10px; padding: 10px;">
                <ul class="text-center" style="list-style: none; margin: 0; padding: 0; justify-content: center;">
                    <li><img class="escudo" src="..\assets\images\FCB.png"><p></p>  F.C. Barcelona (2022-act)</li>
                </ul>
                <ul class="text-center" style="list-style: none; margin: 0; padding: 0; justify-content: center;">
                    <li><img class="escudo" src="..\assets\images\BAYERN.png"><p></p> F.C. Bayern (2014-2022)</li>
                </ul>
                <ul class="text-center" style="list-style: none; margin: 0; padding: 0; justify-content: center;">
                    <li><img class="escudo" src="..\assets\images\DORTMUND.png"><p></p> B. V. Borussia (2010-2014)</li>
                </ul>
                <ul class="text-center" style="list-style: none; margin: 0; padding: 0; justify-content: center;">
                    <li><img class="escudo" src="..\assets\images\LECHPOZNAN.png"><p></p> Lech Poznań (2008-2010)</li>
                </ul>
                <ul class="text-center" style="list-style: none; margin: 0; padding: 0; justify-content: center;">
                    <li><img class="escudo" src="..\assets\images\LEGIA.png"><p></p> Legia de Varsovia II (2005-2006)</li>
                </ul>
            </div>

        </div>
    

        
        
    </div>
</div>





<div class="text-center mt-1 mb-2">
    <button class="btn btn-secondary btn-sm text-center m-2"  style="justify-content: center;" (click)="goBack()">Retroceder</button>
</div>


<span *ngfor="let url of navigation.getHistory(); let i = index">
    {{i}}={{url}}
</span>