<div class="title">
    <h3 class="text-center">{{"Historial"|translate}}<h2>{{ onePlayer.Nombre }} {{ onePlayer.Apellido }}</h2></h3>
</div>

<div class="grid-container justify-content-center align-items-center">

    <div class="grid-item" style="display: flex; justify-content: center; align-items: center; position: relative;">
        <img src="..\assets\images\{{ onePlayer.photo }}" style="max-width: 1000px; max-height: 500px; z-index: 1">
        <div style="display: flex; justify-content: center; align-items: center; position: absolute; top: 0; left: 0;  width: 100%; height: 100%; filter: blur(10px);">
            <img src="..\assets\images\{{ onePlayer.escudo1 }}" style="max-width: 500px; max-height: 500px; opacity: 0.5; z-index: -1">
        </div>
    </div>

    <div class="grid-item datos equipo d-flex">
        <div class="container p-5 text-center justify-content-center" >


                    <div class="row-container pt-3 bg-light" >
                        <div class="text-center d-flex align-items-center" style="justify-content: center;">
                            <img class="escudo" src="..\assets\images\{{onePlayer.escudo1}}" style="position: relative; top: -10px;">
                            <p style="margin-left: 10px;">{{ onePlayer.Clubactual }}</p>
                        </div>
                    </div>
            
                <div class="row-container pt-3 text-center bg-white" *ngIf="onePlayer.Clubanterior1">
                    <div class="text-center d-flex align-items-center" style="justify-content: center;">
                        <img class="escudo" src="..\assets\images\{{onePlayer.escudo2}}" style="position: relative; top: -10px;">
                        <p style="margin-left: 10px;">{{ onePlayer.Clubanterior1 }}</p>
                    </div>
                </div>

                <div class="row-container pt-3 text-center bg-light" *ngIf="onePlayer.Clubanterior2">
                    <div class="text-center d-flex align-items-center" style="justify-content: center;">
                        <img class="escudo" src="..\assets\images\{{onePlayer.escudo3}}" style="position: relative; top: -10px;">
                        <p style="margin-left: 10px;">{{ onePlayer.Clubanterior2 }}</p>
                    </div>
                </div>

                <div class="row-container pt-3 text-center bg-white"  *ngIf="onePlayer.Clubanterior3">
                    <div class="text-center d-flex align-items-center" style="justify-content: center;">
                        <img class="escudo" src="..\assets\images\{{onePlayer.escudo4}}" style="position: relative; top: -10px;">
                        <p style="margin-left: 10px;">{{ onePlayer.Clubanterior3 }}</p>
                    </div>
                </div>

                <div class="row-container pt-3 text-center bg-light" *ngIf="onePlayer.Clubanterior4">
                    <div class="text-center d-flex align-items-center" style="justify-content: center;">
                        <img class="escudo" src="..\assets\images\{{onePlayer.escudo5}}" style="position: relative; top: -10px;">
                        <p style="margin-left: 10px;">{{ onePlayer.Clubanterior4 }}</p>
                    </div>
            </div>
        </div>
    </div>
</div>


<div class="text-center mt-1 mb-2">
    <button class="btn btn-secondary btn-sm text-center m-2"  style="justify-content: center;" (click)="goBack()">{{"Retroceder"|translate}}</button>
</div>

<br>
<br>

<!-- <span *ngfor="let url of navigation.getHistory(); let i = index">
    {{i}}={{url}}
</span> -->