.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 30px;
    width: 100%;
}
  
.grid-item {
    position: relative;
    overflow: hidden;
}
  
.grid-item video {
    height: 100vh;
    object-fit: cover;
    transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out;
    filter: grayscale(100%);
}

.title{
    margin-top: 120px;
}


.video {
    display: flex;
    justify-content: center;
    align-items: center;
}
  

  
@media (max-width: 1200px) {
    .grid-container {
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(4, 1fr);
    }
  }
