
<div class="title">
    <h3 class="text-center">{{"ficha"|translate}}<h2>{{ onePlayer.Nombre }} {{ onePlayer.Apellido }}</h2></h3>
</div>

<div class="grid-container point">
    <div class="grid-item photo" style="justify-content: center;">
        <img src="../assets/images/{{onePlayer.url}}" routerLink="video"  title="{{ onePlayer.Mensaje2 }}" style="max-width: 500px; max-height: 500px; cursor: pointer">
    </div>
    <div class="grid-item cardfifa">
        <div class="container ">
            <div class="row">
              <div class="col-md-6">
                <div class="rounded p-3">
                  <h5>{{"Informaciondeljugador"|translate}}</h5>
                  <br>
                  <ul>
                    <li><strong>{{"Nombre"|translate}}:</strong> {{ onePlayer.Nombre }} {{ onePlayer.Apellido }}</li>
                    <li><strong>{{"Edad"|translate}}:</strong> {{ onePlayer.Edad }}</li>
                    <li><strong>{{"Nacionalidad"|translate}}:</strong> {{ onePlayer.Nacionalidad }}</li>
                    <li><strong>{{"Clubactual"|translate}}:</strong> {{ onePlayer.Clubactual }}</li>
                  </ul>
                </div>
              </div>
              <div class="col-md-6">
                <div class="rounded p-3">
                  <h5>{{"Habilidadesdeljugador"|translate}}</h5>
                  <br>
                  <ul>
                    <li><strong>{{"Aceleracion"|translate}}:</strong> {{ onePlayer.Aceleracion }}</li>
                    <li><strong>{{"Velocidad"|translate}}:</strong> {{ onePlayer.Velocidad }}</li>
                    <li><strong>{{"Posicion"|translate}}:</strong> {{ onePlayer.Posicion }}</li>
                    <li><strong>{{"Finalizacion"|translate}}:</strong> {{ onePlayer.Finalizacion }}</li>
                    <li><strong>{{"Potenciadetiro"|translate}}:</strong> {{ onePlayer.Potenciadetiro }}</li>
                    <li><strong>{{"Tiroslejanos"|translate}}:</strong> {{ onePlayer.Tiroslejanos }}</li>
                    <li><strong>{{"Voleas"|translate}}:</strong> {{ onePlayer.Voleas }}</li>
                    <li><strong>{{"Penaltis"|translate}}:</strong> {{ onePlayer.Penaltis }}</li>
                    <li><strong>{{"Visiondejuego"|translate}}:</strong> {{ onePlayer.Visiondejuego }}</li>
                    <li><strong>{{"Centros"|translate}}:</strong> {{ onePlayer.Centros }}</li>
                    <li><strong>{{"Precisiontirandofaltas"|translate}}:</strong> {{ onePlayer.Precisiontirandofaltas }}</li>
                    <li><strong>{{"Pasescortos"|translate}}:</strong> {{ onePlayer.Pasescortos }}</li>
                    <li><strong>{{"Paseslargos"|translate}}:</strong> {{ onePlayer.Paseslargos }}</li>
                    <li><strong>{{"Efecto"|translate}}:</strong> {{ onePlayer.Efecto }}</li>
                    <li><strong>{{"Agilidad"|translate}}:</strong> {{ onePlayer.Agilidad }}</li>
                    <li><strong>{{"Equilibrio"|translate}}:</strong> {{ onePlayer.Equilibrio }}</li>
                    <li><strong>{{"Reaccion"|translate}}:</strong> {{ onePlayer.Reaccion }}</li>
                    <li><strong>{{"ControldelBalon"|translate}}:</strong> {{ onePlayer.ControldelBalon }}</li>
                    <li><strong>{{"Regates"|translate}}:</strong> {{ onePlayer.Regates }}</li>
                    <li><strong>{{"Compostura"|translate}}:</strong> {{ onePlayer.Compostura }}</li>
                  </ul>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>


<div class="text-center mt-1 mb-2">
    <button class="btn btn-secondary btn-sm text-center m-2"  style="justify-content: center;" (click)="goBack()">{{"Retroceder"|translate}}</button>
    <button class="btn btn-secondary btn-sm text-center m-2"  style="justify-content: center;" routerLink="video">{{"Videos"|translate}}</button>
</div>

<br>
<br>