.head{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}



.footer {
    flex-shrink: 0;
    background-color: #f8f8f8;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}