<div class="grid-container">

    <div class="grid-item img-1">
      <a href="players" id="Lewandowski" title="Robert Lewandowski" routerLink="players/1">
        <img src="../assets/images/lewa_.png">
      </a>
    </div>

    <div class="grid-item img-2">
      <a href="players" id="Neymar" title="Neymar Jr" routerLink="players/2">
        <img src="../assets/images/neymar_.png">
      </a>
    </div>

    <div class="grid-item img-3">
      <a href="players" id="Joaquin" title="Joaquín Sánchez" routerLink="players/3">
        <img src="../assets/images/joaquin_.png">
      </a>
    </div>

    <div class="grid-item img-4">
      <a href="players" id="Griezmann" title="Antoine Griezmann" routerLink="players/4">
        <img src="../assets/images/griezman_.png">
      </a>
    </div>

</div>

