<div class="grid-container">

    <div class="grid-item img-1">
      <a href="players" id="1" routerLink="/home/players/1">
        <img src="../assets/images/lewa_.webp">
      </a>
    </div>

    <div class="grid-item img-2">
      <a href="players" id="2" routerLink="/home/players/2">
        <img src="../assets/images/neymar_.webp">
      </a>
    </div>

    <div class="grid-item img-3">
      <a href="players" id="3" routerLink="/home/players/3">
        <img src="../assets/images/joaquin_.webp">
      </a>
    </div>

    <div class="grid-item img-4">
      <a href="players" id="4" routerLink="/home/players/4">
        <img src="../assets/images/griezman_.webp">
      </a>
    </div>

</div>

