<div class="grid-container">

    <div class="grid-item img-1">
      <a href="players" routerLink="/players">
        <img src="../assets/images/lewa_.webp">
      </a>
    </div>

    <div class="grid-item img-2">
      <a href="players" routerLink="/players">
        <img src="../assets/images/neymar_.webp">
      </a>
    </div>

    <div class="grid-item img-3">
      <a href="players" routerLink="/players">
        <img src="../assets/images/joaquin_.webp">
      </a>
    </div>

    <div class="grid-item img-4">
      <a href="players" routerLink="/players">
        <img src="../assets/images/griezman_.webp">
      </a>
    </div>

</div>
  
